<div id="menu">
<br><%= link_to('Countries list', countries_path) %>
<%= link_to('New Country', new_country_path) %>
<br>
<%= link_to('Cities List', cities_path) %>
<%= link_to('New City', new_city_path) %>
</div>